<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.jupiter.testScripts.TC3_CartPageVerification"/>
      <class name="com.jupiter.testScripts.TC1_ContactPage_MandatoryFieldsCheck"/>
      <class name="com.jupiter.testScripts.TC2_ContactPage_SuccessMessage"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
